* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color : #1484da;
    --text-color : #020304;
    --height-header : 62px;
   
}
@keyframes btn {
    from{
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(-50%);
    }
}
@keyframes btn1 {
    from{
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(50%);
    }
}
.container-wrapper {
    max-width: 1396px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.grid.wide {
    max-width: 1024px;
    margin: 0 auto;
}

.grid.wide_header {
    max-width: 1396px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;

}


.clear-fix {
    height: calc(var(--height-header) + 44px);
    clear: both;
}
.margin-bottom {
    margin-bottom: 20px;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 6px 0 16px 0;
}
.header-info__text {
    font-size : 2.8rem;
    color : #212529;
    font-weight: 500;
}
.header-info__more {
    font-size: 1.4rem;
    color : var(--primary-color)

}
.header-info__more:hover {
    cursor: pointer;
    filter: brightness(95%);
}
.border-seperate {
    border-top: dashed 1px #e4e7eb;
    margin: 8px 0;
}
.ticket-item__price {
    font-size: 2rem;
    color : #ec232b;
    font-weight: 600;
    
}